<tr class="column-name">
  <th class="id">ID</th>
  <th>Category</th>
  <th>Actions</th>
</tr>
<% data.forEach(function (item) { %>
<tr class="column-data">
  <td class="id"><%- item.id %></td>
  <td><%- item.category %></td>
  <td class="action-column">
    <div class="action-container">
      <form action="/update-category/<%- item.id %>" method="GET">
        <button class="edit-btn" type="submit">Edit</button>
      </form>

      <form action="/delete-category/<%- item.id %>" method="POST">
        <button class="delete-btn" type="submit">Del</button>
      </form>
    </div>
  </td>
</tr>
<% }) %>
