<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <ul>
          <li><a href="/dashboard/product">Inventory</a></li>
          <li><a href="/dashboard/category">Category</a></li>
        </ul>
      </div>
      <div class="main">
        <% if (content.name === 'product') { %> <% content.data.forEach(function
        (data) { %> <%- include('./partials/showProduct', { prod: data }) %> <%
        }) %> <% } else { %> <% content.data.forEach(function (cate) { %> <%-
        include('./partials/showCategory', { category: cate }) %> <% }) %> <% }
        %>
      </div>
    </div>
  </body>
</html>
