@import url("./sidebar.css");
@import url("./mainContent.css");
@import url("./table.css");
/* @import url("./productForm.css"); */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  background-color: black;
}

li {
  list-style: none;
}

.product-list {
  background-color: white;
  width: fit-content;
}

/* Main Table */
.main-table {
  background-color: white;
  width: fit-content;
}
