* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: blue;
  width: 400px;
}

.main {
  background-color: red;
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
  justify-content: center;
  flex-direction: column;
}

li {
  list-style: none;
}

.product-list {
  background-color: white;
  width: fit-content;
}

/* Main Table */
.main-table {
  background-color: white;
  width: fit-content;
}
