<form action="/update-category/<%- category.id %>" method="POST">
  <input type="hidden" name="id" value="<%- category.id %>" />
  <input
    required
    type="text"
    placeholder="Category"
    name="category"
    value="<%- category.category %>"
  />
  <button type="submit">Update</button>
</form>
